Требования к раздаточным материалам (отчету) по практическому заданию №1 "Подготовка доклада по современным вопросам тестирования ПО"

Раздаточный материал к докладу:

- должен относится к автоматизации тестирования / теории тестирования;

- согласовывается с руководителем в течение 10 дней с первого занятия (подробности на форуме);

- раздаточные материалы должен быть сданы за 1 месяц до зачета (для случая перезачета) и до последнего дня учебного семестра для стандартного трека;

- объем работы: от 10 страниц в случае перезачета по пройденному ранее курсу Тестирования, от 30 страниц в случае выполнения индивидуального задания повышенной сложности (с перезачетом) и от 15 страниц в случае стандартного трека. Минимальное число страниц указано без учета приложения, титульного листа, содержания.

- оформляется только в стиле SPBPU-BCI-template(https://github.com/ParkhomenkoV/SPbPU-BCI-template)  с учетом титульного листа, приложенного в документах курса (практическая работа №1).


В процессе изложения материала следует использовать принцип IMRAD (https://en.wikipedia.org/wiki/IMRAD).

Библиографические ссылки формируются автоматически из bib-файла с помощью программы biber. Собирать файл лучше pdflatex (TeXLive). Дистрибутив TeXLive по сравнению с MikTeX долго устанавливается (нужно подождать окончательного подтверждения установки программой), но зато помогает компилировать материалы без доустановки пакетов.

Обязательные элементы раздаточного материала:
- математическая постановка проблемы;
- иллюстративный пример;
- псевдокод алгоритма или метода в окружении "algorithm";
- пошаговое выполнение алгоритма или метода на иллюстративных данных;

- раздел с описанием разработанного программного обеспеченя;

- раздел с подробным описанием средств/подходов/алгоритмов/методов тестирования;
- раздел с подробной инструкцией по установке/запуску программы/алгоритма;
- автоматически сгенерированный список источников (только из bib-файлов).

Требования к программному обеспечению:

- комментирование кода!

- компактность кода и проекта!

- возможность быстрого разворачивания и компиляции кода в процессе code review;

- requirements.txt;

- входные данные переменной величины (в зависимости от объема файла);
- импорт данных в форматах csv или JSON;

- наличие заготовленного эталонного входного файла для проверки, сравнение с эталонным выходом (как правило стороннего примера со ссылкой на источник);
- приложение к программе авторского иллюстративного примера (для быстрой проверки-отладки).

Требования к раздаточному материалу, презентации и коду размещены в отдельных файлах/ сообщениях на форуме.



Требования к презентации по практическому заданию №1 "Подготовка доклада по современным вопросам тестирования ПО"

- структура и содержание доклада согласовывается с преподавателем не позднее, чем за 1 неделю до доклада;

- продолжительность доклада не более 8 минут;

- за наличие качественной презентации, подготовленной в LaTeX начисляется дополнительно 1 балл к итоговому тесту.

Требования к раздаточному материалу, презентации и коду размещены в отдельных файлах/ сообщениях на форуме.

-Обязательные элементы презентации:

- структура доклада;
- постановка проблемы;
- технология тестирования (псевдокод алгоритма или метода);
- иллюстративный пример;
- пошаговое выполнение на иллюстративных данных;
- апробация технологии тестирования.

Образец титульного листа для презентации приложен в документах курса.

Титульная страница презентации (шаблон)

Минобрнауки России
Санкт-Петербургский политехнический университет Петра Великого
Институт компьютерных наук и кибербезопасности
Высшая школа программной инженерии

Презентация на тему: "Название презентации"

по дисциплине "Методы тестирования программного обеспечения"

Руководитель:

старший преподаватель В. А. Пархоменко
Выполнил(-ла):
студент группы 5130903/.....
Фамилия Имя Отчество"

В стиле beamer

\title{Название_доклада по дисциплине "Методы тестирования программного обеспечения"}
\author{ФИО студента}
\institute{СПбПУ, ИКНТ ВШ ПИ}
\date{202X}
\begin{document}
\begin{frame}[plain]
\maketitle
\small
\begin{tabular}[t]{@{}l@{\hspace{1pt}}p{.56\textwidth}@{}}
\qquad \qquad \qquad \qquad \qquad \qquad Выполнил студент группы 5130903/...: \\
\qquad \qquad \qquad \qquad \qquad \qquad Фамилия Имя Отчество
\end{tabular}%

\begin{tabular}[t]{@{}l@{\hspace{1pt}}p{.32\textwidth}@{}}
\\
\qquad \qquad \qquad \qquad \qquad \qquad Руководитель:\\
\qquad \qquad \qquad \qquad \qquad \qquad Старший преподаватель В. А. Пархоменко
\end{tabular}%
\end{frame}